<?xml version="1.0" encoding="UTF-8"?>
<!--
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="AnnuityJAXRPCWAR" version="3.0">
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>AnnuityPojoWSes</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!--   SPNEGO USERS UNCOMMENT THESE SECTIONS:  
	security-constraint, login-config and security-role
	
	<security-constraint>
		<display-name>Security Constraints</display-name>
		<web-resource-collection>
			<web-resource-name>JAXWSProotection</web-resource-name>
			<url-pattern>/AnnuityMgmtSvcPojoJAXWSImpl</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>users</role-name>
			<role-name>admins</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	-->
	
	<login-config>
	 
		<auth-method>BASIC</auth-method>
	 <!--
	 	<auth-method>CLIENT-CERT</auth-method>
	 	-->
		<!-- 		 
		<realm-name>svttam.austin.ibm.com:389</realm-name>	
		 -->
	</login-config>
	
	<!-- 
	<security-role>
		<role-name>users</role-name>
	</security-role>
	 
	-->
	
</web-app>
